body{
   
}

.img-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 90%;
    max-height: 4100px;
    margin: 0px auto;
    /* border: 2px solid red; */
    overflow: hidden;

}


.img-container > div{
    width: 33.33%;
    margin: 5px;

}
.img-container  .img img{
    /* border: 2px solid red; */
    width: 100%;
    cursor: pointer;

}
.img-container .img img:hover{
    opacity: .8;
    transition: all .5s ease;
}

.tags{
    display: flex;
    position: absolute;
    top: 52%;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
    width: 100%;
    padding: 10px;
    height: 60px;
    background: #eee;
    box-shadow: 0px 0px 1px 3px #fff;
    text-align: center;
   
}
.tags span{
    color: #222;
    padding: 10px;
    font-weight: 900;
    font-size: 14px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    transition: all .5s ease;

}
.tags a{
    text-decoration: none;
}
.tags span:hover{
    color: rgb(6, 6, 158);
    transition: all .5s ease;
}